<ion-content [fullscreen]="true">
  <div id="bg">
<ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
  <ion-fab-button color="light" routerLink="/blank">
    <ion-icon name="close-outline" color="medium"></ion-icon>
  </ion-fab-button>
</ion-fab>
  </div>
  <ion-list lines="none" class="ion-margin">
<ion-list-header>Welcome!</ion-list-header>
<ion-item class="ion-margin">
  <ion-input placeholder="Enter Username" type="email" clearInput="true"></ion-input>
</ion-item>
<ion-item class="ion-margin">
  <ion-input placeholder="Enter Password" type="Password" clearInput="true"></ion-input>
</ion-item>
<ion-text color="medium"> <p class="ion-margin-horizontal"><p>Forget Password?</p> </ion-text>
<ion-button color="success" id="xyz" expand="block" size="small">Submit</ion-button>
</ion-list>

</ion-content>