

<ion-content>
  <div class="main_content_div">
 <div class="back_div" >
  <ion-buttons slot="start">
<ion-icon name="chevron-back-outline" class="back_btn"></ion-icon>
  </ion-buttons>
  <p id="shopping_cart">Shopping Cart</p>
  
  
  </div><!--back_div-->
 <div class="container">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-list  lines="none">
              <ion-item>
               <ion-thumbnail slot="start">
                <img src="/assets/images/k1.jpg" alt="">
               </ion-thumbnail>
               <ion-label> <h2>High five Candy bar point</h2> 
                <p>Top Sellers</p> 
                <div class="center" style="float:right">
                  <ion-button fill="none"><ion-icon name="remove" class="remove_btn" ></ion-icon></ion-button><span>1</span>
                  <ion-button fill="none"><ion-icon name="add" class="add_btn"></ion-icon></ion-button>
                </div>
              <h1 class="ruppes">₹120 </h1>
           
             </ion-label>
              
            </ion-item>         
          </ion-list>
         <br>

         <ion-list lines="none" >
          <ion-item>
           <ion-thumbnail slot="start">
            <img src="/assets/images/k2.jpg" alt="">
           </ion-thumbnail>
           <ion-label> <h2>High five Candy bar point</h2> 
            <p>Top Sellers</p> 
            <div class="center" style="float:right">
              <ion-button fill="none"><ion-icon name="remove" class="remove_btn" ></ion-icon></ion-button><span>1</span>
              <ion-button fill="none"><ion-icon name="add" class="add_btn"></ion-icon></ion-button>
            </div>
          <h1 class="ruppes">₹120 </h1>
       
         </ion-label>
          
        </ion-item>         
      </ion-list >
      <br>
      <ion-list lines="none" >
        <ion-item>
         <ion-thumbnail slot="start">
          <img src="/assets/images/k3.jpg" alt="">
         </ion-thumbnail>
         <ion-label> <h2>High five Candy bar point</h2> 
          <p>Top Sellers</p> 
          <div class="center" style="float:right">
            <ion-button fill="none"><ion-icon name="remove" class="remove_btn" ></ion-icon></ion-button><span>1</span>
            <ion-button fill="none"><ion-icon name="add" class="add_btn"></ion-icon></ion-button>
          </div>
        <h1 class="ruppes">₹120 </h1>
     
       </ion-label>
        
      </ion-item>         
    </ion-list>  
       </ion-col>
    </ion-row>
    </ion-grid>
    <ion-card  class="listing_card">
      <ion-list class="list" lines="none">
        
        <ion-item  class="item " lines="none" >
          <ion-label >SubTotal</ion-label>
          <ion-note slot="end">₹240</ion-note>
        </ion-item>
        <ion-item  class="item"  lines="none">
          <ion-label>Shipping Fee</ion-label>
          <ion-note slot="end">₹40</ion-note>
        </ion-item>
        <ion-item  class="item" lines="none">
          <ion-label>Discount</ion-label>
          <ion-note slot="end">₹20</ion-note>
        </ion-item>
        <ion-item  class="item" lines="none">
          <ion-label>Total</ion-label>
          <ion-note slot="end">₹300</ion-note>
        </ion-item>
         
          
      </ion-list>
   </ion-card>
 
  <div class="sticky">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="apps">
          <ion-icon name="apps-outline"></ion-icon>
               </ion-tab-button>
    
        <ion-tab-button tab="cart">
          <ion-icon name="cart"></ion-icon><span>
          <ion-label>Cart</ion-label></span>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="checkbox-outline"></ion-icon>
          
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
 </div><!--container-->
  </div><!--main_content_div-->
 
 </ion-content>
 