

<ion-content>
  <div class="main_content_div">
 <div class="back_div">
   <ion-icon name="arrow-back-outline"  color="light" class="back_btn"></ion-icon>
   <div class="text"><p> Single Product Description</p></div><!--text-->
 </div><!--back_div-->
 <div class="back_div2">
   <ion-card>
     <ion-card-header>
       <ion-card-subtitle><h3>₹120 </h3><ion-icon name="heart" class="heart_icon"></ion-icon></ion-card-subtitle>
       <ion-card-title>Kuezo Drink with added Herbals</ion-card-title>
       <br>
       <div class="rating">
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star-half"></ion-icon><span class="text-rating">4.8 rating</span>
       </div>
     </ion-card-header>
  
     <ion-card-content>
     <p> Forget that this flavour is dairy-free and vegan,it's as good as,if not better than 
     everything else we make.It will start with great.</p>
     <div class="quantity">Qty:
       <ion-button fill="none"><ion-icon name="remove" class="remove_btn" ></ion-icon></ion-button><span>5</span>
       <ion-button fill="none"><ion-icon name="add" class="add_btn"></ion-icon></ion-button>
     </div>
 
     <ion-button expand="block" class="addtocart_btn">Add to Cart</ion-button>
     </ion-card-content>
   </ion-card>
  
 </div><!--back_div2-->
  </div><!--main_content_div-->
 
 </ion-content>
 